  <div class="card" *ngIf="user_detail != null">
    <div class="card-content  row">
        <div class="col s12 m12">
            <div>
                  <h2 ><i *ngIf="user_detail.profile_picture == null" class="fa fa-user fa-4x brand-image avatar center"></i></h2>
                  <img class="brand-image avatar" *ngIf="user_detail.profile_picture != null" [src]="user_detail.profile_picture.web_path" alt="{{user_detail.profile_picture.alt}}"/>
                  <h4>
                      {{ user_detail.full_name}}<em> @{{ user_detail.username}}</em>
                  </h4>
                  <small ><i class="fa fa-map-marker"></i>{{ user_detail.city.name}}</small>
                  <br ><span>{{ user_detail.description }}</span>
                  <ul >
                   <li *ngIf="user_detail.is_author == true">
                     <a materialize="dropdown" href='#'  routerLinkActive="active" class="dropdown-button btn-flat" data-activates='band-drop'><i class="fa fa-cog"></i></a>
                       <!-- Dropdown Structure -->
                       <ul id='band-drop' class='dropdown-content'>
                         <li><a routerLink="/setting">Parametres</a></li>
                         <li><a (click)="logout()"><i class="fa fa-off"></i> Déconnexion</a></li>
                       </ul>
                   </li>
                   <span *ngIf="user_detail.is_author == false">
                      <li>
                        <a *ngIf="user_detail.is_follow_it == false" (click)="postFollow(user_detail.id)" class="btn ">
                          <i  class="fa fa-user-plus"></i>
                          Suivre
                          <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse right"></i>
                        </a>
                        <a *ngIf="user_detail.is_follow_it == true" (click)="removeFollow(user_detail.id)" class="btn ">
                          <i  class="fa fa-check"></i>
                          Abonné
                          <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse "></i>
                        </a>
                      </li>
                   </span>
                </ul>
                <span >
                        <a  class="btn-flat" [routerLink]="['/user/products',user_detail.username]" routerLinkActive="active" >
                          <i class="fa fa-list"></i>
                          <span class="hide-on-med-and-down"> Products</span>
                          <small *ngIf="user_detail.nb_products > 0"> {{user_detail.nb_products}}</small>
                        </a>
                        <a  class="btn-flat" [routerLink]="['/user/products/vote', user_detail.username ]" routerLinkActive="active" >
                          <i class="fa fa-heart love"></i>
                          <span class="hide-on-med-and-down"> Aimés</span>
                          <small *ngIf="user_detail.nb_product_votes > 0"> {{user_detail.nb_product_votes}}</small>
                        </a>
                        <a  class="btn-flat" [routerLink]="['/user/follows', user_detail.username ]" routerLinkActive="active" >
                          <i class="fa fa-users"></i>
                          <span class="hide-on-med-and-down"> Abonnements</span>
                          <small *ngIf="user_detail.nb_follows > 0"> {{user_detail.nb_follows}}</small>
                        </a>
                        <a  class="btn-flat" [routerLink]="['/user/followers', user_detail.username ]" routerLinkActive="active" >
                          <i class="fa fa-users"></i>
                          <span class="hide-on-med-and-down"> Abonnés</span>
                          <small *ngIf="user_detail.nb_followers > 0"> {{user_detail.nb_followers}}</small>
                       </a>
                </span>
                    
            </div>
            
      </div>
   </div>
  </div>
