.card-panel {
      padding: 5px;
}

.fixed-center{
    position:fixed;
    width: 85%;
    z-index: 80;
}
.content-f{
    padding-top:150px;
}

.card .card-image img {
    height: 100px;
    width: 100%;
}