<div class="container">
    <div *ngIf="category != null">
    <div  class="card fixed-center">
        <category-common [category] = "category"></category-common>
    </div>
    <div class="row content-f">
        <core-block-right class="col s12 m3 right"></core-block-right>
        <menu-category class="col s12 m3 hide-on-med-and-down"></menu-category>
        <div class="col s12 m6">
            <div *ngIf="products != null" >
                    <div *ngFor="let product of products">
                    <product-common [product]="product"></product-common>
                    </div>
            </div>
            <div *ngIf="products_loading == false">
                <product-null-common *ngIf="products.length < 1"></product-null-common>
            </div>
            <div *ngIf="products_loading == true">
                <loading></loading>
            </div>     
            </div>
        </div>
    </div>
    <div *ngIf="category_loading == true">
        <loading></loading>
    </div>
</div>