<div  class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card-panel">
          <h4 class="center">Connexion</h4>

          <register-social></register-social>
          <form (ngSubmit)="onSubmit()" #signupForm="ngForm" >
            <div class="input-field col s12 m12">
              <i class="fa fa-user prefix"></i>
              <input id="username" type="text" class="form-control" required [(ngModel)]="model.username" name="username" #name="ngModel" >
              <label for="username">Nom d'utilisateur</label>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>

            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="password" type="password" class="form-control" required [(ngModel)]="model.password" name="password" #name="ngModel" >
              <label for="password">Mot de passe</label>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                       <div class="col s12 m12">
                           <p class="right">
                               <button class="btn  waves-effect waves-light" type="submit" name="action">
                                 Connexion
                                <i *ngIf="loading == false" class="fa fa-sign-in right"></i>
                                <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse right"></i>
                               </button>
                           </p>
                       </div>
             </div>
             <div class="row">
               <div class="input-field col s6 m6 l6">
                 <p class="margin medium-small"><a [routerLink]="['/register']" >S'incrire</a></p>
               </div>
               <div class="input-field col s6 m6 l6">
                   <p class="margin right-align medium-small"><a [routerLink]="['/user/p/pass-resseting']">Mot de passe oublié ?</a></p>
               </div>
             </div>
          </form>
      </div>

    </div>
  </div>
</div>
