<div *ngIf="authent == true || model.tokenConfirmation != null" class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card-panel z-depth-5">
      		<h5 class="center site-color">Changer le mot de passe</h5>
          <form (ngSubmit)="onSubmit()" #albumForm="ngForm" >

            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="password" type="password" (keyup)="checkForm()" class="form-control" required [(ngModel)]="model.password" name="password" #name="ngModel" >
              <label for="password">Nouveau mot de passe (+8 caractères)</label>
            </div>
            <div class="input-field col s12 m12">
              <i class="fa fa-unlock-alt prefix"></i>
              <input id="confirmePassword" (keyup)="checkForm()" type="password" class="form-control" required [(ngModel)]="model.confirmePassword" name="confirmePassword" #name="ngModel" >
              <label for="confirmePassword">Confirmer le mot de passe</label>
            </div>
            <div class="divider"></div>
            <div class="row">
                       <div class="col s12 m12">
                           <p class="right">
                               <button *ngIf="form_completed" class="btn  waves-effect waves-light" type="submit" name="action">
                                 Valider
                                <i *ngIf="loading == false" class="fa fa-sign-in right"></i>
                                <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse right"></i>
                               </button>
                               <button *ngIf="!form_completed" class="btn disabled waves-effect waves-light" type="submit" name="action">
                                 Valider
                               </button>
                           </p>
                       </div>
             </div>
          </form>
      </div>
    </div>
  </div>
</div>
<div *ngIf="model.tokenConfirmation == null " class="container">
      <div *ngIf="authent == false" class="col s12 m4 offset-m4 card-panel z-depth-5">
        <p class="site-color center">Le changement du mot de passe necessite une connexion ou un token de tokenConfirmation</p>
        <p class="center"><a [routerLink]="['/login']"  class="btn">Connexion</a></p>
      </div>
</div>