<div class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card-panel z-depth-5">
      		<h5 class="center">Mot de passe oublié</h5>
          <form (ngSubmit)="onSubmit()" #albumForm="ngForm" >
            <div class="input-field col s12 m12">
              <i class="fa fa-envelope fa-cicle prefix"></i>
              <label for="rmail">Nom d'utilisateur ou e-mail</label>
              <input id="rmail" type="text" class="form-control" required [(ngModel)]="model.email" name="email" #name="ngModel" >
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
              </div>
            </div>
            <button class="center btn waves-effect waves-light center" type="submit" name="action">Reinitialiser
                <i class="fa fa-sign-in right"></i>
            </button>
          </form>
      </div>
    </div>
  </div>
</div>
