<div class="container">
  <div class="row">
    <div class="">
      <div class="col s12 m4 offset-m4 card-panel z-depth-5">
      		<h5 class="center site-color">Envoyer un e-mail de réinitialisation</h5>
          <div *ngIf="response == 200" class="col s12 green-text">
            Un e-mail de Reinitialisation a été envoyé
          </div>
          <div *ngIf="response == 400" class="col s12 green-text">
             Votre demande a déjà été traiter , si cela persiste veuillez reessayer Après une heure !
          </div>
          <div *ngIf="response == 404" class="col s12 red-text">
             Le nom d'utilisateur ou l'e-mail N'existe pas !
          </div>
          <form (ngSubmit)="onSubmit()" #albumForm="ngForm" >
            <div class="input-field col s12 m12">
              <i class="fa fa-envelope fa-cicle prefix"></i>
              <label for="rmail">Nom d'utilisateur ou e-mail</label>
              <input id="rmail" type="text" class="form-control" required [(ngModel)]="model.email" name="email" #name="ngModel" >
            </div>
            <span class="right">
                  <button class="btn waves-effect waves-light center" type="submit" name="action">Envoyer
                    <i *ngIf="loading == false" class="fa fa-send-o right"></i>
                    <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse right"></i>
                  </button>
            </span>
          </form>
      </div>
    </div>
  </div>
</div>
