figure img {
      border-radius: 10px;
      width : 100%;
      background-size: cover;
}
.price {
      text-shadow : 1px 1px 1px red;
      color:red;
      font-size:20px;
}
.dropdown-conf {
      min-width: 180px;
}
.dropdown-share{
      min-width: 80px;
       max-width:80px;
}

.btn-flat:hover,.btn-flat:focus {
    color:rgb(0,171,107);
}
.fa:hover,.btn-flat:focus {
    font-size: 35px;
}
