<div *ngIf="dealConversation != null" class="container">
  <div class="row">
    <user-mini-sugestion class="col s12 m3 right"></user-mini-sugestion>
    <div class="card-panel col s12 m9">
      <div class="row">
          <div class="col s12 m5" *ngIf="dealConversations != null">
              <ul class="collection with-header" 
                  infinite-scroll [infiniteScrollDistance]="2"
                  [infiniteScrollUpDistance]="1.5"
                  [infiniteScrollThrottle]="3000"
                  (scrolled)="onScrollDown()">
                <li class="collection-header">
                  CONVERSATIONS
                </li>
                <a  *ngFor="let dc of dealConversations" [routerLink]="['/deal/message',dc.id]"  routerLinkActive="active" class="collection-item" >
                      <deal-conversation-common [dc]="dc"></deal-conversation-common>
                </a> 
              </ul>
          </div>
          <div class="col s12 m7 " >
            <ul class="collection " >
              <li class="collection-item">
                  <a  class="center" [routerLink]="['/user', dealConversation.author.username]" routerLinkActive="active" >
                      <i *ngIf="dealConversation.author.profile_picture == null" class="fa fa-user fa-4x avatar-profile-pict avatar"></i>
                      <img class="avatar-profile-pict  avatar" *ngIf="dealConversation.author.profile_picture != null" src="{{dealConversation.author.profile_picture.web_path}}" alt="{{dealConversation.author.profile_picture.alt}}"/>
                      @{{dealConversation.author.username}}
                  </a>
                <br>
                 <a [routerLink]="['/product', dealConversation.product.id]">
                      <h5 class="inline-block">{{ dealConversation.product.name }}</h5>
                      <h5 class="right inline-block">{{ dealConversation.product.price }} $</h5>
                 </a>
              </li>
              <li class="list-auto collection-item"
                   infinite-scroll 
                  [infiniteScrollDistance]="2"
                  [infiniteScrollThrottle]="1000"
                  (scrolled)="onScrollDown()"
                  [scrollWindow]="false">
                    <span *ngIf="dealMessages != null">
                      <span *ngFor="let dM of dealMessages">
                        <deal-common [deal]="dM"></deal-common>
                      </span>
                    </span>
             </li>
             <li class="collection-item">
                  <deal-form [dealConversation]="dealConversation"></deal-form>
              </li>
            </ul>
          </div>
      </div>

    </div>
  </div>
</div>
