<div  class="container">
  <div class="row">
    <div class="card-panel">
      <div class="row">
          <div class="col s12 m5 hide-on-med-and-down" *ngIf="dealConversations != null">
              <ul class="collection with-header" >
                <li class="collection-header ">
                  CONVERSATIONS
                </li>
                <li class="conversation-list-auto collection-item"
                        infinite-scroll 
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="1000"
                        (scrolled)="onScrollDownConversations()"
                        [scrollWindow]="false">
                  
                  
                  <a  *ngFor="let dc of dealConversations" [routerLink]="['/deal/message',dc.id]"  routerLinkActive="active" class="collection-item" >
                        <deal-conversation-common [dc]="dc"></deal-conversation-common>
                  </a> 
                </li>
              </ul>
          </div>
          <div class="col s12 m7 " >
            <ul class="collection " >
              <li class="collection-item">
                <deal-conversation-common [dc]="dealConversation"></deal-conversation-common>
              </li>
              <section id="message-list-auto" class="collection-item"
                   infinite-scroll 
                  [infiniteScrollDistance]="2"
                  [infiniteScrollThrottle]="1000"
                  (scrolledUp)="false"
                  [scrollWindow]="false">
                
                    <span *ngIf="dealMessages != null">
                      <p class="center">
                        <a class="btn-flat" (click)="onScrollUpMessages()" >Ancien messages</a>
                      </p>
                      <span *ngFor="let dM of dealMessages;let i = index">
                        <deal-common [deal]="dM"></deal-common>
                      </span>
                    </span>
             </section>
             <li class="collection-item">
                  <deal-form [dealConversation]="dealConversation"></deal-form>
              </li>
            </ul>
          </div>
      </div>

    </div>
  </div>
</div>
