<footer  class="container" >
 <div  class="container">
   <p class="center">
     <a [routerLink]="['/core']" routerLinkActive="active" >Acceuil</a>
     <a [routerLink]="['/about']" routerLinkActive="active" >A propos</a>
     <a [routerLink]="['/condition']" routerLinkActive="active" >Conditions et Sécurité</a>
   </p>
    <p class="center">
     <a href="www.facebook.com"  routerLinkActive="active" ><i class="fa fa-facebook"></i></a>
     <a href="www.facebook.com"  routerLinkActive="active" ><i class="fa fa-twitter"></i></a>
     <a href="www.facebook.com"  routerLinkActive="active" ><i class="fa fa-google-plus"></i></a>
     <a href="www.facebook.com"  routerLinkActive="active" ><i class="fa fa-youtube"></i></a>
   </p>
   <p class="center footer-copyright">
     Copyright lapket© All rights reserved.
     <strong class="center red-text text-darken-3">Version beta-test</strong>
   </p>
 </div>
</footer>
