<footer  class="container" >
 <div  class="container">
   <p class="center">
     <a [routerLink]="['/core']" routerLinkActive="active" >Acceuil</a>
     <a [routerLink]="['/about']" routerLinkActive="active" >A propos</a>
     <a [routerLink]="['/condition']" routerLinkActive="active" >Conditions et Sécurité</a>
   </p>
    <p class="center">
     <a class="btn-flat" href="https://www.facebook.com/LapketOfficiel"  routerLinkActive="active" ><i class="fa fa-facebook"></i></a>
   </p>
   <p class="center footer-copyright">
     Copyright lapket© All rights reserved.
     <strong class="center red-text text-darken-3">Version beta-test</strong>
   </p>
 </div>
</footer>
