<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
        <a [routerLink]="['/']" routerLinkActive="active" class="brand-logo center">l<span class="hide-on-med-and-down">apket</span></a>  
        <ul>
          <li>
              <a [routerLink]="['/']">
                <i class="fa fa-home"></i>
                <span class="hide-on-med-and-down">Acceuil</span>
              </a>
          </li>
          <li class="hide-on-med-and-down">
            <search-form></search-form>   
          </li>
        </ul>
         <ul  *ngIf="user == null" class="right ">
             <li><a [routerLink]="['/login']"  class="btn">Connexion</a></li>
         </ul> 
        
        <ul *ngIf="user != null" class="right">
             <li> 
              <a [routerLink]="['/deal/conversation']" title="Messages" routerLinkActive="active" >
                        <i class="fa fa-envelope"></i>
                        <span class="hide-on-med-and-down">Message</span>
                        <small *ngIf="user.nb_received_messages > 0" class="red-badge">{{user.nb_received_messages}}</small>
              </a>
             </li>
             <li>
              <a [routerLink]="['/notification']" title="Notifications" routerLinkActive="active" >
                        <i class="fa fa-bell"></i>
                        <span class="hide-on-med-and-down">Notification</span>
                        <small *ngIf="user.nb_notifications > 0" class="red-badge">{{user.nb_notifications}}</small>
              </a>
             </li>
          
             <li>
              <a materialize="dropdown"  class="dropdown-button" data-activates="nav-dropdown" title="{{user.username}}" >
                <i *ngIf="user.profile_picture == null" class="fa fa-user fa-4x circle"></i>
                <img class="avatar-nav circle" *ngIf="user.profile_picture != null" src="{{user.profile_picture.web_path}}" alt="{{user.profile_picture.alt}}"/>
              </a>
              <ul id="nav-dropdown" class='dropdown-content' >
                <li><a [routerLink]="['/user', user.username]"><i class="fa fa-user "></i> {{user.username}}</a></li>
                <li><a [routerLink]="['user/s/setting']"><i class="fa fa-cog "></i> Parametres</a></li>
                <li class="divider"></li>
                <li><a (click)="logout()"><i class="fa fa-power-off "></i> Déconnexion</a></li>
              </ul>
            </li>
        </ul>
      </div>
  </nav>
</div>
