nav {
  background-color: white;
}
nav .logo{
  height: 30px;
}

nav img{
  margin-bottom: -10px;  
}

nav ul li
{
  margin: 5px;
}


nav ul a 
{
  color:rgb(0,171,107);  
}

nav .button-collapse {
    color: black;
}

nav .btn-floating {
    width: 30px;
    height: 30px;
    background: transparent;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
}

.avatar-nav
{
   border-radius: 19px;
   width: 30px;
   height: 30px;
   color: rgb(0,171,107);
   overflow: hidden;
}

.fa {
  font-size: 22px;
}


