nav {
  background-color: white;
}
nav .brand-logo, .logo {
  color:rgb(0,171,107);
}

nav img{
  margin-bottom: -10px;  
}

nav ul li
{
  margin: 2px;
}

nav ul a 
{
    color:rgb(0,171,107);
    padding: 0 5px;
}

.avatar-nav
{
   border-radius: 19px;
   width: 30px;
   height: 30px;
   color: rgb(0,171,107);
   overflow: hidden;
}

.nav-dropcontent
{
  width:400px;
}