<div class="navbar-fixed">
  <nav role="navigation">
      <div class="nav-wrapper container">
        <ul>
          <li>
             <a [routerLink]="['/']" routerLinkActive="active" ><img class="logo" src="../../../assets/images/lapket.png"></a> 
          </li>
          <li class="hide-on-med-and-down">
                <search-form></search-form>   
          </li>
        </ul>
         <span  *ngIf="user == null" class="right ">
             <a [routerLink]="['/register']"  class="btn-flat">Inscription</a>
             <a [routerLink]="['/login']"  class="btn">Connexion</a>
         </span> 
        
        <ul *ngIf="user != null" class="right">
                       <li class="center">
              <a [routerLink]="['/']">
                <i class="fa fa-home fa-nav"></i>
              </a>
          </li>
          <li class="center"> 
              <a [routerLink]="['/deal/conversation']" title="Messages" routerLinkActive="active" >
                        <i class="fa fa-envelope fa-nav"></i>
                        <small *ngIf="user.nb_received_messages > 0" class="red-badge">{{user.nb_received_messages}}</small>
              </a>
          </li>
          <li class="center">
              <a [routerLink]="['/notification']" title="Notifications" routerLinkActive="active" >
                        <i class="fa fa-bell fa-nav"></i>
                        <small *ngIf="user.nb_notifications > 0" class="red-badge">{{user.nb_notifications}}</small>
              </a>
          </li>
             <li class="center">
              <a materialize="dropdown"  class="dropdown-button" data-beloworigin="true" data-alignment="right" data-activates="nav-dropdown" title="{{user.username}}" >
                <i *ngIf="user.profile_picture == null" class="fa fa-user fa-nav"></i>
                <img class="avatar-nav"  *ngIf="user.profile_picture != null" src="{{user.profile_picture.web_path}}" alt="{{user.profile_picture.alt}}"/>
              </a>
              <ul id="nav-dropdown" class='dropdown-content' >
                <li><a [routerLink]="['/user', user.username]"><i class="fa fa-user "></i> {{user.username}}</a></li>
                <li><a [routerLink]="['user/s/setting']"><i class="fa fa-cog "></i> Parametres</a></li>
                <li class="divider"></li>
                <li><a (click)="logout()"><i class="fa fa-power-off "></i> Déconnexion</a></li>
              </ul>
            </li>
        </ul>
      </div>
  </nav>
</div>
