<div class="container">
      <h5 class="center site-color">Découvrez les produits vendus</h5>
      <div class="row">
            <span *ngIf="categories != null">
            <div class="col s12 m3 " *ngFor="let category of categories">
                  <div class="card hoverable ">
                        <div class="card-image">
                              <span *ngIf="category.picture != null">
                                    <img [src]="category.picture.web_path">
                              </span>
                              <span *ngIf="category.picture == null">
                                    <img src="../../../assets/images/font-ground.jpg">
                              </span>
                        </div>
                        <category-item  [category] = "category"></category-item>
                  </div>
            </div>
            </span>
            <loading *ngIf="categories_loading == true"></loading>
      </div>
</div>
