<section class="container" *ngIf="categories != null">
      <h5 class="center">Découvrir les produits disponibles dans chaque categorie</h5>
      <div class="row">
            <div class="col s12 m3 block" *ngFor="let category of categories">
                  <div class="card-panel">
                        <category-common [category] = "category"></category-common>
                  </div>
            </div>
            <p class="center">
                <a [routerLink]="['/category']" class="btn">Toutes les categories</a>
            </p>
      </div>
</section>