<div class="card" *ngIf="categories != null">
      <ul class="collection with-header">
          <li class="collection-header">CATEGORIES <a [routerLink]="['/category']" class="right"><small>Plus</small></a></li>
          <a  *ngFor="let category of categories" [routerLink]="['/category',category.id ]" routerLinkActive="active"   title="{{category.name}}" class="collection-item" >
            <category-common [category] = "category"></category-common>
          </a> 
      </ul>
</div>
<div *ngIf="categories_loading == true">
    <loading></loading>
</div>