<section class="container" *ngIf="categories != null">
      <h5 class="center ">Découvrez les produits vendus</h5>
      <div class="row">
            <div class="col s12 m3 block" *ngFor="let category of categories">
                  <div class="card-panel hoverable">
                        <category-common [category] = "category"></category-common>
                  </div>
                  
            </div>
            <p class="center">
                <a [routerLink]="['/category']">Plus ...</a>
            </p>
            <p class="center">
                <a [routerLink]="['/register']" class="btn">VENDRE UN PRODUIT</a>
            </p>
      </div>
</section>
<div *ngIf="categories_loading == true">
    <loading></loading>
</div>