.container {
  width: 80%;
}
.btn, .btn-large {
    background-color:#2C90BA;
    padding: 0 1rem;
}

.btn-flat{
  padding: 0 1rem;
}

.btn-flat:focus, .btn-flat:hover{
    color: #2C90BA;
}
.btn:hover,.btn:focus,.btn-large:hover,.btn-large:focus{
    background: #2C90BA;
}

body{
  background-color: #eeeeee;
}

/*Nav design*/
nav {
  background-color: #fff ;
}
nav .brand-logo {
  color: #2C90BA;;
}
nav a {
  position: relative;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
   text-transform: none;
   color: #333;
}

.card.small {
    height: 150px;
}

/*flex design*/
.flex-design{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.flex-design .col{
  float : left;
}

/*Avatar design*/
.avatar{
  border-radius: 5px;
  float:left;
  margin-right: 10px;
  color:#2C90BA;;
}
.avatar-nav{
   border-radius: 19px;
   width: 30px;
   height: 30px;
   color: #2C90BA;
   overflow: hidden;
}

.profile-pict{
  width: 160px;
  height: 160px;
  color: #2C90BA;
  
}
.mini-profile-pict{
  width: 18px;
  height: 18px;
}

.avatar-profile-pict{
  width: 48px;
  height: 48px;
  border-radius: 24px;
  overflow: hidden;
}





@media only screen and (min-width: 600px) {
  .brand-image{
    width: 192px;
    height: 192px;
    border-radius:96px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .brand-image{
    width: 96px;
    height: 96px;
    border-radius:48px;
    overflow: hidden;
  }
}

a {
  color: #2C90BA;
}
strong{
  color: black;
  font-family: bold;
}
.card .card-action {
    padding: 5px;
    border-radius:5px;
}

.card ,.collection{
  border-radius : 5px;
}

.red-badge{
    background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    padding: 2px 2px;

}

.link-hover:hover{
  background-color: red;
}
.text{
  color:black;
}
.inline-block{
  display: inline-block;
}

nav .button-collapse {
    color: black;
}

nav .btn-floating {
    width: 30px;
    height: 30px;
    background: transparent;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -2px;
    margin-left: 0px;
    margin-right: 0px;
}

.input-field input, .input-field textarea, .input-field select{
  border-radius : 3px;
  background-color: #eeeeee;
  border:none;
}
textarea.materialize-textarea {
    min-height: 2rem;
    padding: 0.2rem 0 0.2rem 0;
}
::-webkit-input-placeholder { /* WebKit browsers */
      color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: black;
}
.dropdown-content{
  z-index: 9999;
}
