<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2">
      <div class="card-panel">
          <h1 class="center logo">lapket</h1>
      		<h5 class="center site-color">Completer votre inscription </h5>
            <div class="progress">
              <div class="determinate" style="width: 70%"></div>
            </div>
          <form (ngSubmit)="onSubmit()" #albumForm="ngForm" >
             <div class="input-field col s12 m12">
                <i class="fa fa-user fa-cicle prefix"></i>
                <label for="fullName">Nom complet</label>
                <input (keyup)="checkForm()" placeholder="Nom complet" id="fullName" type="text" class="form-control" required [(ngModel)]="model.fullName" name="fullName" #name="ngModel" >
            </div>
            <div *ngIf="genders != null" class="input-field col s12 m12">
             <select materialize="material_select" [materializeSelectOptions]="selectOptions" required [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" >
               <option value="" disabled="" selected="">Je suis un(e)</option>
               <option *ngFor="let g of genders" [value]="g.type" >{{g.name}}</option>
              </select>
            </div>
            <div *ngIf="countries != null" class="input-field col s12 m12">
             <select materialize="material_select" [materializeSelectOptions]="selectOptions" required [(ngModel)]="model.country" [ngModelOptions]="{standalone: true}" (change)="onSelect($event)" >
               <option value="" disabled="" selected="">Choisir un pays</option>
               <option *ngFor="let country of countries" [value]="country.id" >({{country.indicative}}) {{country.name}}</option>
              </select>
            </div>

            <div *ngIf="cities != null" class="input-field col s12 m12">
             <select materialize="material_select" [materializeSelectOptions]="selectOptions" required [(ngModel)]="model.city" [ngModelOptions]="{standalone: true}" (change)="onSelectCity($event)" >
               <option value="" disabled="" selected="">Choisir une ville</option>
               <option *ngFor="let c of cities" [value]="c.id">{{c.name}}</option>
              </select>
            </div>
            <div  class="input-field col s12 m12">
                <i class="fa fa-phone prefix"></i>
                <label for="phone_number">Télephone</label>
                <input placeholder="telephone" id="phone_number" type="text" class="form-control"  [(ngModel)]="model.phone_number" name="telephone" #name="ngModel" >
            </div>
                       
            <div  class="row">
                       <div class="col s12 m12">
                           <p class="right">
                               <button *ngIf="form_completed" class="btn  waves-effect waves-light" type="submit" name="action">
                                 Suivant
                                <i *ngIf="loading == false" class="fa fa-sign-in right"></i>
                                <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse right"></i>
                               </button>
                               <button *ngIf="!form_completed" class="btn disabled waves-effect waves-light" type="submit" name="action">
                                 Terminer
                               </button>
                           </p>
                       </div>
             </div>
          </form>
      </div>
    </div>
  </div>
</div>
