<div *ngIf="authent != null">
  <div *ngIf="authent == false">
      <div id="index-banner" class="parallax-container">
          <div class="section no-pad-bot">
            <div class="center">
               <h3 class="border header  site-color">Au coeur du marché local </h3>
               <h4 class="border site-color">Trouver des produits High tech</h4>
                <a [routerLink]="['/register']" class="btn btn-large">CREER UN COMPTE</a>
            </div>
         
            
            <div class="parallax">
                <img src="../../../assets/images/font-ground.jpg">
            </div>
             
          </div>
      </div>
      <br>
      <last-product></last-product>
      <br>
      <site-partainer></site-partainer>
  </div>
  <div *ngIf="authent == true">
      <all-product></all-product>
  </div>
</div>
