<div *ngIf="authent != null">
  <div *ngIf="authent == false">
      <div id="index-banner" class="parallax-container">
          <div class="section no-pad-bot">
            <div class="container">
               <br>
            <div class="center">
               <h3 class="border header  site-color">Connectez votre business</h3>
               <h4 class="border header  site-color">Achetez et vendez localement</h4>
              
                <a [routerLink]="['/register']" class="btn-large">CREER UN COMPTE</a>
              </div>
            </div>
            
                <!--<img class="home-pict parallax-image" src="../../../assets/images/font-ground.png">!-->
             
          </div>
      </div>
      <last-product></last-product>
  </div>
  <div *ngIf="authent == true">
      <all-product></all-product>
  </div>
</div>
