<div *ngIf="authent != null">
  <div *ngIf="authent == false">
      <div id="index-banner" class="parallax-container">
          <div class="section no-pad-bot">
            <div class="container">
              <br><br><br>
               <h3 class="header center blue-text accent-4">FAITES DECOLER VOTRE BUSINESS</h3>
               <h4 class="header center blue-text accent-4">Une expérience formidable</h4>
               <br><br>
              <div class="center">
                <a [routerLink]="['/register']" class="btn-large ">Commencer</a>
              </div>
            </div>
          </div>
          <img class="parallax home-pict"  src="../../../assets/images/background1.png" alt="Unsplashed background img 1">
      </div>
      <div >
        <br>
        <br>
        <home-category></home-category>
        <br>
        <br>
        <last-product></last-product>
      </div>
  </div>
  <div *ngIf="authent == true" class="container row">
      <div *ngIf="user != null">
        <div *ngIf="user.compte_state == false" class="col s12 m12">
          <register-final-form ></register-final-form>
        </div>
        <div *ngIf="user.compte_state == true">
            <category-suggestion *ngIf="user.nb_category_follows < 3"></category-suggestion>
            <all-product *ngIf="user.nb_category_follows >= 3"></all-product>
        </div>
      </div>
  </div>
</div>
