<div class="container">
  <div clasligthen>
    <div class="col s12 m6 offset-m3 ">
      <div class="card ">
          <div class="card-content">
              <ul class="collection with-header">
                <li class="collection-header teal-text accent-3"><h4>Description</h4></li>
                <li class="collection-item">
                  Cette plateforme permet de:
                     <ul class="collection">
                       <li  class="collection-item">Exposer et trouver un produits dans votre entourage;</li>
                       <li  class="collection-item">Valoriser un produit;</li>
                       <li  class="collection-item">Faciliter la communication.</li>
                     </ul>
                </li>
              </ul>
              <ul class="collection with-header">
                <li class="collection-header teal-text accent-3"><h4>Equipe</h4></li>
                <li class="collection-item">Lithos Cristal <span class="badge">CEO & Co-Foundateur</span></li>
                <li class="collection-item">Arsene Kalend <span class="badge">CTO & Co-Foundateur</span></li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
