<div class="container">
  <div clasligthen>
    <div class="col s12 m6 offset-m3 ">
      <div class="card ">
          <div class="card-content">
              <ul class="collection with-header">
                <li class="collection-header site-color"><h4>Description</h4></li>
                <li class="collection-item">
                  <p class="align-justify">
                    Après avoir fait le tour de plusieurs magasins , boutiques, ou maisons des produits higth-tech; fatigué et insatisfait
                    soit parceque le prix était trop chèr ou le produit recherché ne s'y trouvaint pas.<br >
                    Nous étions sûre que le produit etait là ,quelque part dans la même ville à un prix abordable!<br > 
                    <strong>Dificile de savoir où!</strong><br>
                    Nous avons développer cette solution vous permettant 
                    d'échanger des produits higth-tech avec vos ami(e)s et connaissances!
                  </p>
                </li>
              </ul>
              <ul class="collection with-header">
                <li class="collection-header site-color"><h4>Equipe</h4></li>
                <li class="collection-item hoverable">
                  <img class="desc-pict avatar" src="../../../assets/images/lithos.jpg" alt="lithos">
                  <strong>Lithos Cristal</strong><br >
                  <span>Co-fondateur & CEO <br > Etudiant </span>
                </li>
                <li class="collection-item hoverable">
                  <img class="desc-pict avatar" src="../../../assets/images/arsene.jpg" alt="arsene">
                  <strong>Arsene Kalend</strong><br>
                  <span>Co-fondateur & manager<br > Etudiant </span>
                </li>
                <li class="collection-item hoverable">
                  <img class="desc-pict avatar" src="../../../assets/images/jo.jpg" alt="johnatan">
                  <strong>Jonathan Kadiayi</strong><br>
                  <span>Résponsable design<br > Etudiant</span>
                </li>
              </ul>
          </div>
      </div>
    </div>
  </div>
</div>
