<div clas="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card-panel ">
        <div class="card-title">
          <h3 class="center">Conditions d'utilisations et sécurités</h3>
        </div>
        <div class="card-content">
          <h4>FONCTIONNEMENTS</h4>
          <h5>Parlons du service</h5>
          <p class="text">Cette application vous permet de moderniser votre business  en beneficiant
            de toutes les nouvelles avancées de l'informatique qui enrichissent la société.
          </p>
          <h5>Inscription et importance des informations demandées</h5>
          <p>L'inscription se passe en 3 etapes simple </p>

          <h5>Exploitation des informations personnnelles</h5>
          <p>
            Toute donnée personnelle collecteé est utiliser pour ameliorer nos algorithmes (KIFWIRIMA ALGORITHM)
            afin d'ameliorer l'experience utilisateur en vous proposant les informations plus pertinant possible(suggestions,fil d'actualité,publicité,...
             </p>
          <h4>SECURITE</h4>
          <p></p>
          <h5>Pourquoi la sécurité ?</h5>
          <h5>Pourquoi nous protegeons les informations sensibles ?</h5>
          <p>Toute informations qualifié très sensible est crypté avec les denières techniques cryptograpique</p>
          <h5>Nous sommes le responsable de votre Sécurité</h5>
          <p>Nous utilisons les denieres techniques cryptographique pour caché les informations sensible et essoyons toujours 
            des les ameliorer lorsque ces derniers sont cassées
          </p>
          <h5>Vous étes le responsable de votre sécurité</h5>
          <p>
            La sécurité d'un compte utilisateur répose sur le secret du mot de passe et tous les mots de passe liées à ce derniers
          
          </p>
          <h5>NOTE DE LA FIN</h5>
          <p class="text">Tout en restant fidèle à la vision global de l'application ces conditions d'utilisations reste dynamique et mise a part les fautes grammaticales vous resterez informer de toute modification importante.</p>
        </div>
      </div>
    </div>
  </div>
</div>
