<div clas="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card-panel ">
        <div class="card-title">
          <h4 class="center blue-text accent-4">CONDITIONS D’UTILISATION ET SECURITE</h4>
        </div>
        <div class="card-content">
          <ol>
            <h4 class="blue-text accent-4"><li>Fonctionnements</li></h4>
            <p class="text-justify">
              Ce site vous permet de moderniser votre business en bénéficiant de toutes 
              les nouvelles avancées de l'informatique qui enrichissent la société.
            </p>
            <ul>
               <h5 class="blue-text accent-4"><li>Exploitation des informations personnelles</li></h5>
               <p class="text-justify">
                  Toute donnée personnelle collectée est utilisée pour améliorer 
                  KIFWIRIMA notre algorithme de classement basé sur les graphes afin 
                  d'améliorer l'expérience d’utilisateur, en vous proposant les informations 
                  pertinentes (suggestions, fil d'actualité, publicité…).
               </p>
            </ul>
            <h4 class="blue-text accent-4"><li>Sécurité</li></h4>
            <p class="text-justify">
              Toute information qualifiée très sensible est cryptée avec les 
              dernières techniques cryptographique.
            </p>
            <ul>
               <h5 class="blue-text accent-4"><li>Nous sommes responsables de la sécurité du compte</li></h5>
               <p class="text-justify">
                Nous utilisons les dernières techniques cryptographiques pour cacher les informations 
                sensibles et essayons toujours de les améliorer lorsque ces dernières déviennent obsolètes.
               </p>
               <h5 class="blue-text accent-4"><li>Vous êtes responsables de la sécurité du compte</li></h5>
               <p class="text-justify">
                 La sécurité d'un compte d’utilisateur repose sur le secret du mot de passe et tous les mots 
                 de passe liées à ce dernier.
               </p>
            </ul>
            <h4 class="blue-text accent-4"><li>Activités (Comptes, produits)</li></h4>
            <p class="text-justify">
              Certains comptes et produits peuvent être bloqués ou désactivés temporairement voire 
              définitivement pour des raisons de sécurité du site, nous ne voulons pas que certains 
              comptes ou contenus nuisent à nos visiteurs et utilisateurs. Ce qui implique que chaque 
              visiteur ou utilisateur doit utiliser le site en respectant l'éthique et déontologie 
              informatiques et les lois des nouvelles technologies appliquées dans son pays.
            </p>
            <h4 class="blue-text accent-4"><li>Signaler un bug</li></h4>
            <p class="text-justify">
              Pour nous aider à améliorer la sécurité et certaines fonctionnalités du site, 
              certains bugs sont envoyés automatique au système et d'autres peuvent être signalés 
              par les utilisateurs du site.
            </p>
            <h4 class="blue-text accent-4"><li>Evolution</li></h4>
            <p class="text-justify">
              Tout en restant fidèle à la vision globale du site, ces conditions d'utilisations 
              restent dynamique. Mise à part les fautes grammaticales, vous resterez informer de 
              toute modification importante.
            </p>
            <h4 class="blue-text accent-4"><li>Note finale</li></h4>
            <p class="text-justify">
              Les conditions d'utilisation et de sécurité de ce service 
              sont complétés par le contenu d'éthique et déontologie informatique.
            </p>
          </ol>
          
        </div>
      </div>
    </div>
  </div>
</div>
