<div clas="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 ">
      <div class="card-panel ">
        <div class="card-title">
          <h3 class="center green-text text-darken-2">Conditions d'utilisations et sécurités</h3>
        </div>
        <div class="card-content">
          <h4 class="red-text text-darken-2">FONCTIONNEMENTS</h4>
          <p class="text-justify">Cette application vous permet de moderniser votre business  en beneficiant
            de toutes les nouvelles avancées de l'informatique qui enrichissent la société.
          </p>
          <h5 class="red-text text-darken-2">Exploitation des informations personnnelles</h5>
          <p class="text-justify">
            Toute donnée personnelle collecteé est utiliser pour ameliorer KIFWIRIMA notre algorithme de classement basée sur les graphes
            afin d'ameliorer l'experience utilisateur en vous proposant les informations pertinantes(suggestions,fil d'actualité,publicité,...)
          </p>
          <h4 class="red-text text-darken-2">SECURITE</h4>
          <p>Toute information qualifié très sensible est crypté avec les denières techniques cryptograpique</p>
          <h5 class="red-text text-darken-2">Nous sommes le responsable de votre sécurité</h5>
          <p>Nous utilisons les denieres techniques cryptographique pour caché les informations sensible et essayons toujours 
            des les ameliorer lorsque ces derniers sont cassées 
          </p>
          <h5 class="red-text text-darken-2">Vous étes le responsable de votre sécurité</h5>
          <p>
            La sécurité d'un compte utilisateur répose sur le secret du mot de passe et tout les mots de passe liées à ce derniers   
          </p>
          <h5 class="red-text text-darken-2">ACTIVITES (Comptes, produits)</h5>
          <p class="text-justify">certains comptes et produits peuvent être blockés ou désactivés temporairement ou définitivement pour des raisons de sécurité du site,
            nous ne voulons pas que certains compte ou contenu nuisent à nos visiteurs et utilisateurs. ce qui implique que chaque visiteurs ou utilisateurs doit 
            utilisé les sites en respectant l'ethique et déotologie imformatiques et les lois des nouvelles technologies appliquées dans pays de localisation</p>
          <h5 class="red-text text-darken-2">SIGNALER UN BUGS</h5>
          <p class="text-justify">Pour nous aider à ameliorer la sécurité et certains fonctionnalités du site certains bugs sont envoyés
            automatique au système et d'autres peuvent etre signaler par les utilisateurs du site.</p>
          <h5 class="red-text text-darken-2">EVOLUTION</h5>
          <p class="text-justify">Tout en restant fidèle à la vision global de l'application ces conditions d'utilisations reste dynamique et mise à part les fautes grammaticales vous resterez informer de toute modification importante.
          </p>
          <h5 class="red-text text-darken-2">NOTE FINALE</h5>
          <p class="text-justify">
             Les conditions d'utilisation et de sécurité de ce service sont complétés par le contenu d'ethique et déontologie imformatique. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
