<div class="panel panel-default" *ngIf="user != null">
   <div class="panel-heading" >
       <a [routerLink]="['/user',user.username ]" routerLinkActive="active" ><i class="fa fa-user fa-2x avatar"></i>
        {{ user.full_name}}<em> @{{ user.username}}</em>
       </a>
   </div>
     <ul class="list-group">
        <li class="list-group-item">
          <a [routerLink]="['/user/albums', user.username]" routerLinkActive="active"><i class="fa fa-list"></i> Vos Albums <em>{{user.nb_albums}}</em></a>
        </li>
        <li class="list-group-item">
          <a [routerLink]="['/user/products', user.username]" routerLinkActive="active"><i class="fa fa-list"></i> Vos Produits <em>{{user.nb_products}}</em></a>
        </li>
    </ul>
</div>
