  <div *ngIf="dealConversation != null" class="row">
    <form  (ngSubmit)="onSubmit()" #productForm="ngForm" >
               <div class="row">
                    <div class="input-field  col s12 m12">
                          <textarea placeholder="Ecrivez un message ...."rows="4" id="content" class="materialize-textarea" [(ngModel)]="model.content" [ngModelOptions]="{standalone: true}"> 
                          </textarea>
                    </div>
                    <div class="input-fiel col s12 m12">
                      <li class="divider "></li>
                          <button type="submit" class="right btn">
                             Envoyer
                            <i *ngIf="loading == false" class="fa fa-send-o"></i>
                            <i *ngIf="loading == true" class="fa fa-spinner fa-spin fa-pulse "></i>
                          </button>
                    </div>
                </div>
    </form>
  </div>
