.message-text-right{
        background : rgba(1,164,239,0.5);
        border-radius: 15px 15px 0px 15px;
}
.message-text-left{
        background: rgba(1,164,239,0.2);
        border-radius: 0px 15px 15px 15px;
}