<div class="container">
<div class="row">
  <menu-category class="col s12 m3 hide-on-med-and-down"></menu-category>
  <div class="col s12 m4 ">
    <ul *ngIf="suggestions != null" class="collection with-header">
        <li class="collection-header">
            SUGGESTIONS 
        </li>
        <li class="collection-item " *ngFor = "let suggestion of suggestions">
          <user-suggestion-common [suggestion]="suggestion" ></user-suggestion-common>
        </li>
        <li *ngIf="pages > 1" class="collection-footer">
          <p class="center">
            <button (click)="nextSuggestions()" class="btn-flat center">Suivant</button>
          </p>
        </li>
    </ul>
    <div *ngIf="suggestions_loading == true">
        <loading></loading>
    </div>
  </div>
</div>
</div>