<div class="container">
  <div *ngIf="user_detail != null">
      <user-band [user_detail] = "user_detail" ></user-band>
      <div class="row">
        <div class="col s12 m3 right">
        <user-mini-sugestion ></user-mini-sugestion>
      </div>
      <follow-category  *ngIf=" user_detail.is_author == true"class="col s12 m3 hide-on-med-and-down"></follow-category>
      <menu-category  *ngIf=" user_detail.is_author != true"class="col s12 m3 hide-on-med-and-down"></menu-category>
      <div class="col s12 m6">
        <div class="col s12 m9">
          <product-form-common *ngIf="user_detail.is_author == true" ></product-form-common> 
          <div class="col s12 m4" *ngFor="let album of albums">
              <album-common [album]="album"></album-common>
          </div>
        </div>
      </div>
  </div>
</div>
