<div>
<div *ngIf="album != null" class="card small">
    <div class="card-image">
      <div class="row">
        <div class="col x12 s12 m12 ">
          <img class="activator" src="../../../assets/images/background1.jpg">
        </div>
      </div>

      <span class="card-title">
          <a routerLink="'/album', album.id " routerLinkActive="active">{{ album.name}}</a>
          <p class="text-justify lead">{{ album.description }}</p>
      </span>

    </div>
    <div class="card-content ">
       <div *ngIf="album.description != null" class="panel-body">
          <a class="left" [routerLink]="['/category',album.category.id]" routerLinkActive="active">{{ album.category.name }}</a>
          <div *ngIf="album.is_author == true" class="btn-group">
            <span class="right">
              <a materialize="dropdown" routerLinkActive="active" class="dropdown-button" attr.data-activates="album-{{album.id}}"><i class="fa fa-caret-down"></i></a>
                <!-- Dropdown Structure -->
                <ul id="album-{{album.id}}" class='dropdown-content'>
                  <li><a [routerLink]="['album/edit',album.id]">Modifier</a></li>
                  <!-- Modal Trigger -->
                  <li><a attr.materialize="leanModal" attr.materializeParams="[{dismissible: false}]" class="waves-effect waves-light modal-trigger" href="#modal-{{album.id}}">Supprimer</a></li>
                </ul>
            </span>
          </div>
      </div>
    </div>
    <div class="card-action">
          <a [routerLink]="['/user', album.author.username]" routerLinkActive="active" >
              <i *ngIf="album.author.profile_picture == null" class="fa fa-user  fa-2x avatar"></i>
              <img class="avatar-profile-pict  avatar " *ngIf="album.author.profile_picture != null" src="{{album.author.profile_picture.web_path}}" alt="{{album.author.profile_picture.alt}}"/>
              @{{album.author.username}}
          </a>
        <span class="right"><time><em>{{album.published_at | amTimeAgo}}</em></time></span>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal-{{album.id}}" class="modal" attr.materialize="closeModal" [attr.materializeParams]="params">
<!--<div id="modal-{{product.id}}" class="modal" materialize [attr.materializeActions]="modalActions">-->
  <div class="modal-content">
    <h4>Suppression l'album</h4>
    <p>Voulez vous supprimer le produit ?</p>
  </div>
  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn red darken-4" (click)="deleteAlbum(album.id)">Confirmer</a>
  </div>
</div>
</div>