#search_text{
        font-size: 16px;
        border: 0;
        height: 30px;
        color: black;
        background-color: #eeeeee;
        border-radius: 3px 0px 0px 3px;
        margin-right:-4px;
}
.input-field{
    display:inline-block;
}

#search_text:focus {
    background-color: #eeeeee;;
}
.btn-flat{
    border: 0 none;
    width: 30px;
    padding: 0;
    text-align: center;
    color:black;
    cursor: pointer;
    border-radius: 0px 3px 3px 0px;
    background:  #eeeeee;
    margin-top:-2px;
}

@media only screen and (min-width: 900px) {
  #search_text{
        width: 300px;
  }
}

@media only screen and (min-width: 1030px) {
  #search_text{
        width: 600px;
  }
}
