<div *ngIf="products != null"  class="row">
  <core-block-right class="col s12 m3 right"></core-block-right>
  <follow-category class="col s12 m3 hide-on-med-and-down"></follow-category>
  <div class="col s12 m6"
        infinite-scroll [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScrollDown()">
     <product-form></product-form>    
    <div *ngFor="let product of products " >
      <product-common [product]="product"></product-common>
    </div>
    <div *ngIf="product_loading == false">
        <product-null-common *ngIf="products.length < 1" ></product-null-common>
    </div>
  </div>

</div>
<div *ngIf="product_loading == true">
    <loading></loading>
</div>
