<div *ngIf="products != null"  class="row">
  <div class="col s12 m3 right">
      <user-mini-sugestion ></user-mini-sugestion>
  </div>
  <follow-category class="col s12 m3 hide-on-med-and-down"></follow-category>
  <div class="col s12 m6"
        infinite-scroll [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScrollDown()">
     <product-form></product-form>    
    <div *ngFor="let product of products " >
      <product-common [product]="product"></product-common>
    </div>
  </div>
</div>